{% extends 'base.html' %}


{% block extra_headers %}
    <title>Add Task</title>
{% endblock %}


{% block content %}
    <h1>Add Task</h1>
    <form method="POST">
        {% csrf_token%}
        <input type="text" name="name" placeholder="Name" />
        <input type="text" name="description" placeholder="Description" />
        <select name='category_id'>
            {% for category in categories %}
            <option value={{ category.id }}>{{ category.name }}</option>
            {% endfor %}
        </select>
        <input type="submit"/>
    </form>
{% endblock %}