{% extends 'base.html' %}


{% block extra_headers %}
    <title>Categories</title>
{% endblock %}


{% block content %}
  <h1>Categories</h1>
  <table>
    <tr>
      <td>Name</td>
      <td>Action</td>
    </tr>

    {% for category in categories %}
      <tr style="background-color: {{ category.color }}">
        <td>{{ category.name }}</td>
        <td><a href="{% url 'edit-category' category.id %}">Edit</a></td>
        <td><a href="{% url 'delete-category' category.id %}">Delete</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

