{% extends 'base.html' %}


{% block extra_headers %}
    <title>Edit task</title>
{% endblock %}


{% block content %}
    <h1>Edit task</h1>
    <form method="POST">
        {% csrf_token%}
        <input type="text" name="name" value="{{ task.name }}" />
        <input type="text" name="description" value="{{ task.description }}" />
        <select name="category_id">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" />
    </form>
{% endblock %}