{% extends 'base.html' %}


{% block extra_headers %}
    <title>Tasks</title>
{% endblock %}


{% block content %}
  <h1>Tasks</h1>
  <table>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>Category</td>
      <td>Action</td>
    </tr>
    {% for task in tasks %}
      <tr style="background-color: {{ task.category.color }}">
        <td>{{ task.name }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.category.name }}</td>
        <td><a href="{% url 'edit-task' task.id %}">Edit</a></td>
        <td><a href="{% url 'delete-task' task.id %}">Delete</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}